<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <!-- <title>{{ page.title }}</title> -->
  <title>Kenya Health Information Systems</title>

  <meta name="apple-mobile-web-app-title" content="HIS Systems">
  <meta name="msapplication-TileColor" content="#004266">
  <meta name="application-name" content="HIS Systems">

  <meta name="theme-color" content="#004266">
  <script>if(Function('/*@cc_on return document.documentMode===10@*/')()){document.documentElement.className+=' ie10';}</script>

  <meta name="csrf-param" content="authenticity_token">
  <meta name="csrf-token" content="lLDoYu90iXDIRI6VXwDYlQSt76vvjHb24y6ZgQLYAbX=">
  <meta name="description" content="Kenya Health Information Systems.">
  <meta property="fb:app_id" content="361736430535656">
  <meta property="og:type" content="website">
  <meta property="og:title" content="HIS Systems">
  <meta property="og:description" content="Kenya Health Information Systems.">
  <meta property="og:url" content="{{ page.url }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--[if lte IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/classlist/2014.01.31/classList.min.js"></script>
  <![endif]-->

  <!-- CSS -->
  <!-- build:css -->
  <link rel="preconnect" href="{{ site.baseUrl }}">
  
  {% if page.layout == "guide" %}
  <link href="{{ site.baseUrl }}/css/guide.css" rel="stylesheet" type="text/css"/>
  {% else %}
  <link href="{{ site.baseUrl }}/css/docs.css" rel="stylesheet" type="text/css"/>
  <link href="{{ site.baseUrl }}/assets/js/micromodal.css" rel="stylesheet" type="text/css"/>
  {% endif %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.css">
  <link href="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css" rel="stylesheet" />
  <!-- endbuild -->
  <!--[if lt IE 8]>
      <link rel="stylesheet" type="text/css" href="/stylesheets/ie7.css" />
  <![endif]-->
  <!--[if IE 8]>
      <link rel="stylesheet" type="text/css" href="/stylesheets/ie8.css" />
  <![endif]-->
  <!--[if lt IE 10]>
      <link rel="stylesheet" type="text/css" href="/stylesheets/ie89.css" />
  <![endif]-->
</head>
